.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-background-alt);
}

.body {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: var(--spacing-xl);
  overflow-y: auto;
}
